.header {
    background-color: black;
    border-bottom: 2px solid #f44336;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.header span {
    font-size: 2rem;
    color: #f44336;
    font-weight: 500;
}

.header a {
    text-decoration: none;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.125rem; /*  18px = 1.125rem   */
}